{% extends 'GPGestionBundle::layout-default.html.twig' %}

{% block incontent %}
	<h1 class="page-header">Planning</h1>
	
	<div class="panel-body">
		<div class="row">

			<div class = "panel-item">
				<a href="{{ path("gb_gestion_bundle_planning_interventions") }}">
					<img src="{{ asset('images/interventions.png') }}" />
					<span>Interventions</span>
				</a>
			</div>
			
			<div class = "panel-item">
				<a href="{{ path("gb_gestion_bundle_planning_projets") }}">
					<img src="{{ asset('images/projets.png') }}" />
					<span>Projets</span>
				</a>
			</div>			
			
			<div class = "panel-item">
				<a href="{{ path("gb_gestion_bundle_planning_planning") }}">
					<img src="{{ asset('images/calendrier.png') }}" />
					<span>Planning</span>
				</a>
			</div>		
		
		
		</div>
	</div>	
{% endblock %}

