{% extends 'GPGestionBundle::layout-default.html.twig' %}

{% block javascripts %}
	<script src="{{ asset('js/fullcalendar.min.js') }}"></script>
	<script src="{{ asset('js/fullcalendar_local_fr.js') }}"></script>
{% endblock %} 
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/fullcalendar.min.css') }}" type="text/css" />
{% endblock %}

{% block incontent %}
	<h1 class="page-header">Planning</h1>
	
	<div id="calendar"></div>

	<script type="text/javascript">
	jQuery(document).ready(function($) {

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay,listWeek'
			},
			height: 'auto',
			minTime: '08:00:00',
			defaultDate: '{{ "now"|date('Y-m-d') }}',
			defaultView: 'agendaWeek',
			editable: false,
			eventLimit: true, // allow "more" link when too many events
			navLinks: true,
			events: [
				{% if items|length > 0 %}
					{% for item in items %}
						{
							id: '{{ item.id }}',
							title: '{{ item.type ~ " : " ~ item.projet.pointvente }}',
							start: '{{ item.dateDebut|date('Y-m-d H:i:s') }}',
							end: '{{ item.dateFin|date('Y-m-d H:i:s') }}',
							url: '{{ path("gb_gestion_bundle_planning_interventions_edit", { 'id': item.id }) }}',
						},
					{% endfor %}
				{% endif %}
					],	
			eventClick: function(event) {
		        if (event.url) {
		            window.open(event.url, '_self');
				    
		            return false;
		        }
		    },
					
		});

	});
	</script>
{% endblock %}

