{% extends 'GPGestionBundle::layout-default.html.twig' %}

{% block incontent %}
	<a class = "pull-right btn btn-primary" href = "{{ path("gb_gestion_bundle_planning_projets") }}">Retour vers la liste</a>

	<h1 class="page-header">Projet {{ item.nom }}</h1>

	<div class = "formulaire-bloc">

		{{ form_start(form) }}
		
			{{ form_errors(form) }}
			<div class = "container-fluid">
				<div class = "col-md-6">
					{{ form_row(form.numDossier) }}
					
					{{ form_row(form.nom) }}
					
					{{ form_row(form.client) }}
					
					{{ form_row(form.Pointvente) }}
					
					{{ form_row(form.commercial) }}
					
					{{ form_row(form.descriptif) }}
					
				</div>
				<div class = "col-md-6">
					
					{{ form_row(form.dateDebutPose) }}	
					
					{{ form_row(form.dateFinPose) }}
					
					{{ form_row(form.numFacture) }}
					
					{{ form_row(form.dateFacturation) }}
						
					{{ form_row(form.enregistrer) }}
			
				</div>
			</div>
			
			{{ form_rest(form) }}
			
		{{ form_end(form) }}

	</div>
	
<script type = "text/javascript">
$(function () {
    $('.datepicker').datepicker()
    .on('changeDate', function(ev){                 
        $(this).datepicker('hide');
    });
});
</script>	
{% endblock %}