{% extends 'GPGestionBundle::layout-default.html.twig' %}

{% block incontent %}
	<a href="{{ path("gb_gestion_bundle_planning_projets_new") }}" class="pull-right btn btn-success" >Nouveau</a>

	<h1 class="page-header">Liste des projets</h1>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>N° Dossier</th>
					<th>Nom du projet</th>
					<th>Client</th>
					<th>Point de vente</th>
					<th>Id</th>
				</tr>
			</thead>
			{% if items|length > 0 %}
			<tbody>
				{% for item in items %}
				<tr>
					<td>{{ item.numDossier }}</td>
					<td><a href = "{{ path("gb_gestion_bundle_planning_projets_edit", { 'id': item.id }) }}">{{ item.nom }}</a></td>
					<td>{{ item.client }}</td>
					<td>{{ item.pointvente }}</td>
					<td>{{ item.id }}</td>
				</tr>
				{% endfor %}
			</tbody>
			{% endif %}
		</table>
	</div>	
{% endblock %}