{% extends 'GPGestionBundle::layout-default.html.twig' %}

{% block incontent %}
	<h1 class="page-header">Gestion des paramètrages</h1>
		
	<div class="panel-body">
		<div class="row">
			<div class = "panel-item">
				<a href="{{ path("gb_gestion_bundle_parametrage_clients") }}">
					<img src="{{ asset('images/clients.png') }}" />
					<span>Clients</span>
				</a>
			</div>
			
			<div class = "panel-item">
				<a href="{{ path("gb_gestion_bundle_parametrage_poseurs") }}">
					<img src="{{ asset('images/poseurs.png') }}" />
					<span>Poseurs</span>
				</a>
			</div>	
			
			<div class = "panel-item">
				<a href="{{ path("gb_gestion_bundle_parametrage_pointventes") }}">
					<img src="{{ asset('images/positions.png') }}" />
					<span>Points de vente</span>
				</a>
			</div>			
			
				
		</div>
	</div>	
{% endblock %}

