{% extends 'GPGestionBundle::layout-default.html.twig' %}

{% block incontent %}
	<h1 class="page-header">Paramétrage</h1>
		
	<div class="panel-body">
		<div class="row">
			<div class = "panel-item">
				<a href="{{ path("gb_gestion_bundle_parametrage_clients") }}">
					<img src="{{ asset('images/clients.png') }}" />
					<span>Clients</span>
				</a>
			</div>
			
			<div class = "panel-item">
				<a href="{{ path("gb_gestion_bundle_parametrage_campagnes") }}">
					<img src="{{ asset('images/campagnes.png') }}" />
					<span>Campagnes</span>
				</a>
			</div>
			
			<div class = "panel-item">
				<a href="{{ path("gb_gestion_bundle_parametrage_poseurs") }}">
					<img src="{{ asset('images/poseurs.png') }}" />
					<span>Poseurs</span>
				</a>
			</div>	
					
			<div class = "panel-item">
				<a href="{{ path("gb_gestion_bundle_parametrage_chefs") }}">
					<img src="{{ asset('images/chefs.png') }}" />
					<span>Chefs de projet</span>
				</a>
			</div>
			
			<div class = "panel-item">
				<a href="{{ path("gb_gestion_bundle_parametrage_pointventes") }}">
					<img src="{{ asset('images/positions.png') }}" />
					<span>Points de vente</span>
				</a>
			</div>			
			
			<div class = "panel-item">
				<a href="{{ path("gb_gestion_bundle_parametrage_societes") }}">
					<img src="{{ asset('images/societes.png') }}" />
					<span>Sociétés</span>
				</a>
			</div>
				
		</div>
	</div>	
{% endblock %}

