{% extends 'GPGestionBundle::layout-default.html.twig' %}

{% block incontent %}
	<a class = "pull-right btn btn-primary" href = "{{ path("gb_gestion_bundle_parametrage_pointventes") }}">Retour vers la liste</a>

	<h1 class="page-header">Point de vente : {{ item.nom }}</h1>

	<div class = "formulaire-bloc">

		{{ form_start(form) }}
		
			{{ form_errors(form) }}
			<div class = "container-fluid">
				<div class = "col-md-6">
					
					{{ form_row(form.nom) }}
					
					{{ form_row(form.codePostal) }}
					
					{{ form_row(form.ville) }}	

					{{ form_row(form.region) }}
					
					{{ form_row(form.province) }}
					
					{{ form_row(form.pays) }}

					{{ form_row(form.telephone) }}
										
				</div>
				<div class = "col-md-6">

					{{ form_row(form.adresse) }}
					
					{{ form_row(form.contact1) }}
					
					{{ form_row(form.contact2) }}
					
					{{ form_row(form.email) }}
					
					{{ form_row(form.departement) }}
					
					{{ form_row(form.enregistrer) }}
			
				</div>
			</div>
			
			{{ form_rest(form) }}
			
		{{ form_end(form) }}


	</div>
	
	
{% endblock %}