{% extends 'GPGestionBundle::layout-default.html.twig' %}

{% block incontent %}
	<a href="{{ path("gb_gestion_bundle_parametrage_pointventes_new") }}" class="pull-right btn btn-success" >Nouveau</a>

	<h1 class="page-header">Liste des points de ventes</h1>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Adresse</th>
					<th>Ville</th>
					<th>Département</th>
					<th>Contact 1</th>
					<th>Contact 2</th>
					<th>Id</th>
				</tr>
			</thead>
			{% if items|length > 0 %}
			<tbody>
				{% for item in items %}
				<tr>
					<td><a href = "{{ path("gb_gestion_bundle_parametrage_pointventes_edit", { 'id': item.id }) }}">{{ item.nom }}</a></td>
					<td>{{ item.adresse }}</td>
					<td>{{ item.ville }}</td>
					<td>{{ item.departement }}</td>
					<td>{{ item.contact1 }}</td>
					<td>{{ item.contact2 }}</td>
					<td>{{ item.id }}</td>
				</tr>
				{% endfor %}
			</tbody>
			{% endif %}
		</table>
	</div>	
{% endblock %}